body {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#container{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    justify-content: space-between;
    gap:  10px;

}
.squareDIvs{
    display: flex;
    justify-content: center;
    align-items: center;
}